name: Rust

on:
  push:
    branches: [ "master" ]
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '.github/workflows/rust.yml'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '.github/workflows/rust.yml'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --verbose --lib --bins
    - name: Run tests
      run: cargo test --verbose --lib --bins
